/**********************
 サイドエリア設定
**********************/
@import '../variables';

@mixin selectedEffect {
	color: $blue;
	background: $white-skelton;
	border-bottom: 2px solid $blue;
}

/*** 1.セクションタイトル設定 ***/
.sectionTitle {
	color: $white;
	font-size: 25px;
	line-height: 1;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid $white;
	@media screen and (max-width: $sp-max-width){
		font-size: 20px;
		margin-bottom: 10px;
	}

	/** 1-1.選択時設定 **/
	&Checked {
		color: $blue;
	}

	/** 1-2.画像アイコン設定 **/
	&Img {
		width: 1em;
		margin-right: 7px;
	}
}

/*** 2.リスト設定 ***/
.list {
	color: $white;
	font-size: 16px;
	border-bottom: 1px dotted $white;
	padding: 10px;

	/** 2-1.ホバー時設定 **/
	&:hover {
		cursor: pointer;
		background: $white-skelton;
	}

	/** 2-2.選択時設定 **/
	&Selected {
		@include selectedEffect;
	}

	/** 2-3.サブテキスト設定 **/
	&SubText {
		display: block;
		padding-left: 1.9em;
		font-size: 12px;
	}
}

.none {
	display: none;
}
