/**********************
 サイドエリア設定
**********************/
@import '../variables';

@mixin selectedEffect {
	color: $blue;
	/* 2-1-1.テキスト設定 */
	.listText {
		// ボーダー用インナーラッパー設定
		.innerWrap {
			padding: 5px 30px;
			transition: padding 0.3s;
			@media screen and (max-width: $sp-max-width){
				padding: 5px 60px;
			}
		}
	}

	/* 2-1-2.リストアイコン設定 */
	.icon {
		filter: drop-shadow(20px 0px 5px $yellow-skelton);
	}

	/* 2-1-3.追加アイコン設定 */
	.additionalIcon {
		filter: drop-shadow(0px 0px 10px $white);
	}
}

/*** 1.セクションタイトル設定 ***/
.sectionTitle {
	color: $white;
	font-size: 25px;
	line-height: 1;
	padding: 8px;
	margin-bottom: 20px;
	border-bottom: 2px solid $white;
	@media screen and (max-width: $sp-max-width){
		font-size: 20px;
		margin-bottom: 10px;
	}

	/** 1-1.選択時設定 **/
	&Checked {
		border-bottom: 3px solid $blue;
		background: $white-skelton;
		color: $blue;
	}
}

/*** 2.リスト設定 ***/
.list {
	color: $black;
	padding: 10px;
	border-bottom: 2px solid $black;

	/** 2-1.ホバー時設定 **/
	&:hover {
		cursor: pointer;
		@include selectedEffect;

	}

	/** 2-2.リストアイコン設定 **/
	.icon {
		width: 30px;
		height: auto;
		margin-right: 5px;
	}

	/** 2-3.追加アイコン設定 **/
	.additionalIcon {
		width: 25px;
		height: auto;
	}

	/** 2-4.テキスト設定 **/
	.listText {
		background: linear-gradient(
			to left,
			$black-skelton-thin,
			$white-skelton,
			$white,
			$white-skelton,
			$black-skelton-thin
		);
		border-top: 2px solid $black;
		border-bottom: 2px solid $black;
		border-left: 4px solid $black;
		border-right: 4px solid $black;

		/* 2-4-1.ボーダー用ミドルラッパー設定 */
		.middleWrap {
			display: block;
			border-top: 6px dashed $black;
			border-bottom: 6px dashed $black;
		}

		/* 2-4-2.ボーダー用インナーラッパー設定 */
		.innerWrap {
			display: block;
			border-top: 2px solid $black;
			border-bottom: 2px solid $black;
			padding: 5px 15px;
		}
	}

	/** 2-5.選択時設定 **/
	&Selected {
		@include selectedEffect;
	}
}
