/**********************
 ヘッダーエリア設定
**********************/
@import '../variables';

/**** エリア内共通設定 ****/
$font_size__topList: 18px;
@mixin shadowAnimation($shadow, $type) {

	// ドロップシャドウの場合
	@if($type == "drop-shadow") {
		filter: drop-shadow($shadow 0px 0px $white__clear);
		transition: filter 0.3s;
	}

	// テキストシャドウの場合
	@if($type == "text-shadow") {
		color: $blue;
		text-shadow: $shadow 0px 0px $white__clear;
		transition: text-shadow 0.3s;
	}

}

/**** トップリスト設定 ****/
.topList {
	font-size: $font_size__topList;
	font-weight: bold;
	img {
		width: $font_size__topList;
		height: $font_size__topList;
	}

	/*** 1.ロゴ設定 ***/
	.topLogo {
		cursor: pointer;

		/** 1-1.ホバー時設定 **/
		&:hover {
			@include shadowAnimation(140px, text-shadow);
		}

		/** 1-2.画像アイコン設定 **/
		&Img {
			margin-right: 5px;
		}
	}

	/*** 2.Topに戻るボタン設定 ***/
	.topBtn {
		cursor: pointer;
		@media screen and (max-width: $sp_max_width){
			display: none;
		}

		/** 2-1.ホバー時設定 **/
		&:hover {
			@include shadowAnimation(-20px, drop-shadow);
		}
	}

	/*** 3.メニューボタン設定 ***/
	.menuBtn {
		display: none;
		cursor: pointer;
		@media screen and (max-width: $sp_max_width){
			display: block;
		}

		/** 3-1.ホバー時設定 **/
		&:hover {
			@include shadowAnimation(-20px, drop-shadow);
		}
	}
}

/**** タブリスト設定 ****/
.tabList {
	background: $black__clear;
	box-shadow: 0px 0px 10px 0px $white__clear;
	position: absolute;
	top: $header_height;
	left: 0;
	right: 0;
	
	&Wrap {
		max-width: $screen_max_width;
		margin: 0 auto;
	}

	/*** 1.ヘッダータブ設定 ***/
	.headerTab {
		text-align: center;
		display: block;
		width: 100px;
		padding: 5px 0;
		cursor: pointer;

		/** 1-1.ホバー時設定 **/
		&:hover {
			@include commonHover;
			transition: background 0.5s;
		}

		/** 1-2.aタグのリンク設定 **/
		&Link {
			color: unset;
			padding: 0;
			&:hover {
				background: unset;
			}
		}
	}

}
