/**********************
 Header module
**********************/
@import '../variables';

/**** Common ****/
$font-size-of-home-list: 18px;
@mixin shadowAnimation($shadow, $type) {

	@if($type == "drop-shadow") {
		filter: drop-shadow($shadow 0px 0px $color-of-white-clear5);
		transition: filter 0.3s;
	}

	@if($type == "text-shadow") {
		color: $color-of-blue;
		text-shadow: $shadow 0px 0px $color-of-white-clear5;
		transition: text-shadow 0.3s;
	}

}

/**** Home List ****/
.homeList {
	font-size: $font-size-of-home-list;
	font-weight: bold;

	img {
		width: $font-size-of-home-list;
		height: $font-size-of-home-list;
	}

	&Wrapper {
		// layout
		max-width: $max-width-of-screen;
		height: $height-of-home-list;
		margin: 0 auto;
		padding: 0 20px;
		@media screen and (max-width: $max-width-of-sp) {
			padding: 0;
		}
	}

	/*** Home Button  ***/
	.homeButton  {
		cursor: pointer;
		&:hover {
			@include shadowAnimation(140px, text-shadow);
		}

		img {
			margin-right: 5px;
		}
	}

	/*** Top Button ***/
	.topButton {
		cursor: pointer;
		@media screen and (max-width: $max-width-of-sp){
			display: none;
		}
		&:hover {
			@include shadowAnimation(-20px, drop-shadow);
		}
	}

	/*** Menu Button ***/
	.menuButton {
		display: none;
		cursor: pointer;
		@media screen and (max-width: $max-width-of-sp){
			display: block;
		}
		&:hover {
			@include shadowAnimation(-20px, drop-shadow);
		}
	}
}

/**** Tab List ****/
.tabList {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width-of-screen;
	
	&Wrapper {
		background: $color-of-black-clear7;
		box-shadow: 0px 0px 10px 0px $color-of-white-clear5;
		position: absolute;
		top: $height-of-home-list;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: $height-of-tab-list;
	}

	/*** Tab  ***/
	.tab {
		text-align: center;
		display: block;
		width: 100px;
		padding: 5px 0;
		cursor: pointer;
		&:hover {
			@include commonHover;
			transition: background 0.5s;
		}

		&Link {
			color: unset;
			padding: 0;
			&:hover {
				background: unset;
			}
		}
	}

}
