/**********************
 Main Swiper module
**********************/
@import '../variables';

/**** Swiper Slide ****/
.swiperSlide {
	text-align: center;
	height: 230px;
	@media screen and (max-width: $max-width-of-sp) {
		height: 200px;
	}

	&Img {
		width: 380px;
		height: 100%;
		border-radius: 8px;
		@media screen and (max-width: $max-width-of-sp) {
			width: 90%;
			max-width: 380px;
		}
		&:hover {
			background: $color-of-black-clear7;
			border: 3px solid $color-of-white;
			height: 100%;
			padding: 5px;
			cursor: pointer;
			transition: padding 0.5s;
		}

		&Selected {
			border: 5px solid $color-of-blue;
		}
	}
}

