/**********************
 メインビジュアルエリア設定
**********************/
@import '../variables';

/** 1.スワイプスライド設定 **/
.swiperSlide {
	text-align: center;
	max-width: 640px;
	margin: 0 auto;

	/* 1-1.スワイプする画像設定 */
	&Img {
		width: 380px;
		height: auto;
		@media screen and (max-width: $sp-max-width) {
			width: 100%;
			max-width: 375px;
		}

		// 1-1-1.ホバー時設定
		&:hover {
			cursor: pointer;
			width: 370px;
			padding: 5px;
			transition: width 0.5s, padding 0.5s;
			background: $black-skelton;
			border: 5px groove $blue;
		}

		// 1-1-2.選択時設定
		&Selected {
			border: 5px groove $blue;
		}
	}
}

