/**********************
 メインビジュアルエリア設定
**********************/
@import '../variables';

/** 1.スワイプスライド設定 **/
.swiperSlide {
	text-align: center;
	max-width: 640px;
	margin: 0 auto;

	/* 1-1.スワイプする画像設定 */
	&Img {
		width: 380px;
		height: auto;
		@media screen and (max-width: $sp-max-width) {
			width: 100%;
			max-width: 375px;
		}

		// 1-1-1.ホバー時設定
		&:hover {
			cursor: pointer;
			width: 370px;
			padding: 5px;
			transition: width 0.5s, padding 0.5s;
			background: $black-skelton;
			border: 5px groove $blue;
		}

		// 1-1-2.選択時設定
		&Selected {
			border: 5px groove $blue;
		}
	}
}

/** 2.スワイプガイドメッセージ設定 **/
.swipeGuide {
	@media screen and (max-width: $sp-max-width){
		color: $white;
		font-size: 13px;
		font-weight: normal;
		padding: 5px;
		position: absolute;
		top: $header-height + 30px;
		right: 20px;
		@keyframes slide {
			0% { right: 0; }
			100% { right: 20px; }
		}
		animation-name: slide;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}
