/**********************
 メインビジュアルエリア設定
**********************/
@import '../variables';

/**** スワイプスライド設定 ****/
.swiperSlide {
	text-align: center;
	height: 230px;
	@media screen and (max-width: $sp_max_width) {
		height: 200px;
	}

	/*** 1.スワイプする画像設定 ***/
	&Img {
		width: 380px;
		height: 100%;
		border-radius: 8px;
		@media screen and (max-width: $sp_max_width) {
			width: 90%;
			max-width: 380px;
		}

		/** 1-1.ホバー時設定 **/
		&:hover {
			background: $black__clear;
			border: 3px solid $white;
			height: 100%;
			padding: 5px;
			cursor: pointer;
			transition: padding 0.5s;
		}

		/** 1-2.選択時設定 **/
		&Selected {
			border: 5px solid $blue;
		}
	}
}

