/**********************
 Modal module
**********************/
@import './../variables';

/**** Modal Open Button ****/
.modalOpenButton {
	font-size: 12px;
	color: $color-of-blue-for-link;
	background: $color-of-black-light;
	border-radius: 50%;
	border-style: none;
	padding: 7px 12px;
	margin-left: 10px;
	cursor: pointer;
	&:hover {
		color: $color-of-blue;
		background: $color-of-white-clear5;
	}
}

/**** Modal Window ****/
.modalWindow {

	/*** Modal Title ***/
	.modalTitle {
		font-weight: bold;
		border-bottom: 2px dotted $color-of-white;
		&:before {
			content: "?";
			padding-right: 0.5em;
		}
	}

	/*** Modal Content ***/
	.modalContent {
		font-size: 14px;
		padding: 20px 0;
		max-width: 500px;
	}

	/*** Modal Close Button ***/
	.modalCloseButton {
		color: $color-of-white;
		background: $color-of-black-clear5;
		border: 2px solid $color-of-white-clear5;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		width: 100px;
		padding: 2px;
		margin: 0 auto;
		cursor: pointer;
		outline: none;
		&:hover {
			@include commonHover;
			border: 2px solid $color-of-blue;
		}
	}
}
