/**********************
 モーダルパーツ設定
**********************/
@import './../variables';

/**** モーダルを開くボタン ****/
.openModal {
	font-size: 12px;
	color: $blue__link;
	background: $black__light;
	border-radius: 50%;
	padding: 5px 10px;
	margin-left: 10px;
	cursor: pointer;

	/*** 1.ホバー時設定 ***/
	&:hover {
		color: $blue;
		background: $white__clear;
	}
}

/**** モーダルウィンドウ ****/
.modalWindow {

	/*** 1.タイトル設定 ***/
	.title {
		font-weight: bold;
		border-bottom: 2px dotted $white;

		/** 1-1.接頭文字設定 **/
		&:before {
			content: "?";
			padding-right: 0.5em;
		}
	}

	/*** 2.コンテンツ設定 ***/
	.content {
		font-size: 14px;
		padding: 20px 0;
		max-width: 500px;
	}

	/*** 3.閉じるボタン設定 ***/
	.closeModal {
		color: $white;
		background: $black__clear_thin;
		border: 2px solid $white__clear;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		width: 100px;
		padding: 2px;
		margin: 0 auto;
		cursor: pointer;
		outline: none;

		/** 3-1.ホバー時設定 **/
		&:hover {
			@include commonHover;
			border: 2px solid $blue;
		}
	}
}
