/**********************
 Thumb Swiper module
**********************/
@import '../variables';

/**** Common ****/
@mixin thumbSwiperListTitle {
	font-size: 25px;
	line-height: 1;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid $color-of-white;
	@media screen and (max-width: $max-width-of-sp){
		font-size: 20px;
		margin-bottom: 10px;
	}
}

/**** Thumb Swiper List ****/
.thumbSwiperList {
	font-size: 16px;
	padding: 10px;
	&:hover {
		@include commonHover;
		cursor: pointer;
	}

	&Title {
		@include thumbSwiperListTitle;
	}

	&Selected {
		color: $color-of-blue;
		background: $color-of-white-clear5;
		border-bottom: 2px solid $color-of-blue;
	}

	&Note {
		color: $color-of-grey;
		font-size: 12px;
		display: block;
		padding-left: 1.9em;
	}

	img {
		width: 1em;
		margin-right: 7px;
	}
}

/**** Close Button ****/
.closeButton {
	@include thumbSwiperListTitle;
	background-color: unset;
	border-style: none;
	display: none;
	color: $color-of-white;
	@media screen and (max-width: $max-width-of-sp){
		display: block;
		border-bottom: none;
	}
}
