/**********************
 サイドエリア設定
**********************/
@import '../variables';

/**** エリア内共通設定 ****/
@mixin sectionTitle {
	font-size: 25px;
	line-height: 1;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid $white;
	@media screen and (max-width: $sp_max_width){
		font-size: 20px;
		margin-bottom: 10px;
	}
}

/**** セクションタイトル設定 ****/
.sectionTitle {
	@include sectionTitle;
}

/**** リスト設定 ****/
.list {
	font-size: 16px;
	padding: 10px;

	/*** 1.ホバー時設定 ***/
	&:hover {
		@include commonHover;
		cursor: pointer;
	}

	/*** 2.選択時設定 ***/
	&Selected {
		color: $blue;
		background: $white__clear;
		border-bottom: 2px solid $blue;
	}

	/*** 3.サブテキスト設定 ***/
	&SubText {
		color: $grey;
		font-size: 12px;
		display: block;
		padding-left: 1.9em;
	}

	/*** 4.画像アイコン設定 ***/
	&Img {
		width: 1em;
		margin-right: 7px;
	}
}

/**** 閉じるボタン設定 ****/
.closeBtn {
	@include sectionTitle;
	display: none;
	@media screen and (max-width: $sp_max_width){
		display: block;
		border-bottom: none;
	}
}
