/**********************
 共通設定
**********************/
:global {
	/*** 1.フレックス設定 ***/
	@mixin set-flex($flex-type) {
		display: flex;
		justify-content: $flex-type;
	}

		/** 1-1.フレックス適用 **/
		.flex-space-between {
			@include set-flex(space-between);
		}
		.flex-space-around {
			@include set-flex(space-around);
		}
		.flex-start {
			@include set-flex(flex-start);
		}

		/** 1-2.align-items設定 **/
		.align-items-center {
			align-items: center;
		}

	/*** 2.SP設定 ***/
		/** 2-1.SP非表示設定 **/
		.hide-sp {
			@media screen and (max-width: $sp-max-width){
				display: none;
			}
		}

		/** 2-2.SPフレックス解除設定 **/
		.flex-remove-sp {
			@media screen and (max-width: $sp-max-width){
				display: block;
			}
		}

	/*** 3.パーツ設定 ***/
		/** 3-1.段落設定 **/
		.p {
			padding: 5px;
			margin-bottom: 15px;
		}

		/** 3-2.注意書き設定 **/
		.alert {
			color: $blue;
			background: $white-skelton-thick;
			border-radius: 4px;
			border: 1px solid $blue;
			padding: 5px;
			margin-bottom: 15px;

		}

		/** 3-3.リスト設定 **/
		.list-box {
			padding: 5px;
			margin-bottom: 20px;

			/* 3-3-1.リスト項目設定 */
			.li {
				padding-bottom: 5px;
				text-indent: -1em;
				padding-left: 1em;
				margin-bottom: 10px;

				// リストテキストの設定
				&-text {
					padding: 5px;
					color: $black;
					font-weight: bold;
				}

				// リストアイコンの設定
				&:before {
					content: "☑︎";
					padding-right: 5px;
					color: $black;
				}

				// 最後のリスト項目の設定
				&:last-child {
					padding-bottom: 0;
				}

				// リストの注釈設定
				&-note {
					padding-left: 1em;
					font-size: 14px;
					color: $black;
					margin-bottom: 5px;
				}
			}
		}

		/** 3-4.swiper.jsのCSS追加設定 **/
		// コンテナ設定
		.swiper-container {
			width: 100%;
			padding-top: 20px;
			padding-bottom: 45px;
		}
		// pagenation設定
		.swiper-pagination {
			// アクティブドットの設定
			&-bullet-active {
				background: $blue;
			}
		}
}
