/** 共通設定 **/
:global {
	// 表示設定
	.hide-sp {
		@media screen and (max-width: $sp-max-width){
			display: none;
		}
	}

	// フレックス設定
	@mixin flex-setting($flex-type) {
		display: flex;
		justify-content: $flex-type;
	}

	.flex-space-between {
		@include flex-setting(space-between);
	}
	.flex-space-around {
		@include flex-setting(space-around);
	}
	.flex-start {
		@include flex-setting(flex-start);
	}

	.flex-remove-sp {
		@media screen and (max-width: $sp-max-width){
			display: block;
		}
	}
	.align-items-center {
		align-items: center;
	}

	// 中央寄せ設定
	.text-align {
		text-align: center;
	}

	// 見出し設定
	.h1 {
		font-size: 25px;
		padding: 5px;
		margin-bottom: 20px;
		@media screen and (max-width: $sp-max-width){
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	// 段落設定
	.p {
		padding: 5px;
		margin-bottom: 15px;
	}

	// 注意書き設定
	.alert {
		color: $yellow;
		background: $yellow-skelton;
		border-radius: 4px;
		border: 2px dashed $yellow;
		padding: 5px;
		margin-bottom: 15px;

	}

	// リスト設定
	.list-box {
		padding: 5px;
		.li {
			padding-bottom: 5px;
			text-indent: -1em;
			padding-left: 1em;
			&:before {
				content: "▶︎";
				padding-right: 5px;
			}
			&:last-child {
				padding-bottom: 0;
			}
			&-note {
				padding-left: 1em;
				font-size: 14px;
				color: $black;
			}
		}
	}
}
