/**********************
 初期設定
**********************/
html,
body {
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.8;
	color: $white;
	background: $black;
	min-width: $screen_min_width;
	scroll-behavior: smooth;
}

a {
	color: $blue__link;
	text-decoration: none;
	padding: 3px;
	cursor: pointer;
	&:hover {
		@include commonHover;
	}
}

