/**********************
 レイアウト設定
**********************/

/**** SP時のサイドエリアmixin設定 ****/
@mixin contents-aside-sp($height) {
	width: 100%;
	height: 100%;
	position: fixed;
	top: $header-height + $height;
	left: 0;
	z-index: $header;
	overflow: scroll;
}
@mixin swipe-wrapper-sp {
	width: 50%;
	height: auto;
	position: relative;
	top: 0;
	left: 100%;
	background: $black-skelton;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

:global {
	/**** コンテナ設定 ****/
	.container {
		// レイアウト設定
		max-width: $screen-max-width;
		margin: 0 auto;

		/*** 1.ヘッダーエリア設定 ***/
		.header-area {
			// カラー設定
			background: $white-skelton;
			backdrop-filter: blur(30px);

			// レイアウト設定
			height: $header-height;
			padding: 10px;
			line-height: 1;

			// ヘッダー固定設定
			z-index: $header;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;

			/** 1-1.コンテンツラッパー設定 **/
			&-wrap {
				// レイアウト設定
				max-width: $screen-max-width;
				margin: 0 auto;
				padding: 0 20px;
				@media screen and (max-width: $sp-max-width) {
					padding: 0;
				}
			}
		}

		/*** 2.メインビジュアルエリア設定 ***/
		.main-visual-area {
			// レイアウト設定
			margin-bottom: 20px;
			margin-top: $header-height + 60px;
			@media screen and (max-width: $sp-max-width) {
				margin-bottom: 0;
			}

			/** 2-1.コンテンツラッパー設定 **/
			&-wrap {
				// カラー設定
				background: linear-gradient(
					to left,
					$black-skelton-thin,
					$white-skelton,
					$white,
					$white-skelton,
					$black-skelton-thin
				);
				backdrop-filter: blur(30px);
				@media screen and (max-width: $sp-max-width) {
					background: linear-gradient(
						to left,
						$black-skelton-thin,
						$white-skelton,
						$white,
						$white-skelton,
						$black-skelton-thin
					);
				}
			}
		}

		/*** 3.コンテンツエリア設定 ***/
		.contents-area {
			// レイアウト設定
			padding: 20px 10px;

			/** 3-1.サイドエリア設定 **/
			.contents-aside {
				// レイアウト設定
				width: 30%;
				padding: 20px;
				@media screen and (max-width: $sp-max-width) {
					@include contents-aside-sp(10px);
				}

				// プロフィール画面時の表示設定
				&-PC {
					@include contents-aside-sp(20px);
				}

				// コンテンツラッパー設定
				&-wrap {
					@media screen and (max-width: $sp-max-width) {
						width: 150%;
						height: 100%;
					}
					// プロフィール画面時の表示設定
					&-PC {
						width: 150%;
						height: 100%;
					}
				}
				// スワイプラッパー設定
				&-swipe-wrapper {
					@media screen and (max-width: $sp-max-width) {
						@include swipe-wrapper-sp;
					}

					// プロフィール画面時の表示設定
					&-PC {
						@include swipe-wrapper-sp;
					}

				}
			}

			/** 3-2.メインエリア設定 **/
			.contents-main {
				// レイアウト設定
				width: 70%;
				padding-right: 20px;
				@media screen and (max-width: $sp-max-width) {
					padding-left: 20px;
					width: 100%;
				}

				/* 3-2-1.コンテンツラッパー設定 */
				&-wrap {
					// カラー設定
					background: $white-skelton-thick;

					// レイアウト設定
					padding: 20px;
				}

				/* 3-2-2.サイドエリア非表示時のメインエリア設定 */
				&-no-sidearea {
					// レイアウト設定
					margin-top: 100px;
				}
			}
		}
	}
}
