/** 変数設定 **/
// width定義
$sp-max-width: 768px;
$screen-max-width: 1280px;
$screen-min-width: 375px;

// height定義
$header-height: 70px;

// margin設定
$m-bottom: 20px;
$m-side: 40px;

// カラー定義
$white: white;
$black: black;
$blue: rgb(29, 29, 182);

$yellow-skelton: rgba(255, 234, 0, 0.365);
$blue-skelton: rgba(29, 29, 182, 0.3);
$black-skelton: rgba(0, 0, 0, 0.7);
$white-skelton: rgba(255, 255, 255, 0.5);
$black-skelton-thin: rgba(0, 0, 0, 0.5);

// z-index定義
$header: 100;

// アニメーション設定
@keyframes swipeToLeft {
	0% {
		transform: none;
	}
	50% {
			transform: matrix(0.6, 0, 0, 0.6, -550, 0);
		}
	100% {
		transform: matrix(0.4, 0, 0, 0.4, -1100, 0);
	}
}
@keyframes swipeBackToLeft {
	0% {
		transform: matrix(1, 0, 0, 1, 1100, 0);
	}
	50% {
		transform: matrix(1, 0, 0, 1, 550, 0);
	}
	100% {
		transform: none;
	}
}
@keyframes swipeToRight {
	0% {
		transform: none;
	}
	50% {
		transform: matrix(1, 0, 0, 1, 550, 0);
	}
	100% {
		transform: matrix(1, 0, 0, 1, 1100, 0);
	}
}
@keyframes swipeBackToRight {
	0% {
		transform: matrix(0.4, 0, 0, 0.4, -1100, 0);
	}
	50% {
			transform: matrix(0.6, 0, 0, 0.6, -550, 0);
		}
	100% {
		transform: none;
	}
}
