/**********************
 Variables
**********************/

/**** $variables ****/
$max-width-of-sp: 768px;
$max-width-of-screen: 1280px;
$min-width-of-screen: 375px;

$height-of-home-list: 40px;
$height-of-tab-list: 25px;
$height-of-header: $height-of-home-list + $height-of-tab-list;

$color-of-white: white;
$color-of-white-clear5: rgba(206, 187, 187, 0.5);
$color-of-black: black;
$color-of-black-light: rgb(47, 48, 55);
$color-of-black-clear5: rgba(0, 0, 0, 0.5);
$color-of-black-clear7: rgba(0, 0, 0, 0.7);
$color-of-grey: rgb(193, 193, 193);
$color-of-grey-dark: rgb(11, 11, 11);
$color-of-blue: rgb(29, 29, 182);
$color-of-blue-light: rgb(70, 150, 220);
$color-of-blue-for-link: rgb(98, 127, 242);
$color-of-yellow: rgb(255, 196, 0);

$z-index-of-header: 100;

/**** Mixin ****/
@mixin commonHover {
	color: $color-of-blue;
	background: $color-of-white-clear5;
}
